@page "/"
@inject IJSRuntime js

<h1>Graph Visualizer</h1>

<div id="divdisplay"></div>

<button @onclick="@(async () => await js.InvokeVoidAsync("testShow", new int[3]{5,7,8}))">test</button>

@code{
    protected async override void OnAfterRender(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        await js.InvokeVoidAsync("testShow", new int[3] { 5, 7, 8 });
    }
}